version: '3.8'

services:
  nginx:
    build: ./nginx
    volumes:
      - .:/var/www/html
    depends_on:
      - php
    networks:
      - traefik_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.nginx.entrypoints=websecure"
      - "traefik.http.routers.nginx.tls.certresolver=resolver"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"

  php:
    build: ./php
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    networks:
      - traefik_net

  mariadb:
    image: mariadb:10.6
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - traefik_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    env_file:
      - .env
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - mariadb
    networks:
      - traefik_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pma.rule=Host(`${PMA_DOMAIN}`)"
      - "traefik.http.routers.pma.entrypoints=websecure"
      - "traefik.http.routers.pma.tls.certresolver=resolver"
      - "traefik.http.services.pma.loadbalancer.server.port=80"

networks:
  traefik_net:
    external: true

volumes:
  mariadb_data:
