@layer base {
    body {
        @apply bg-[url('./assets/img/bg.png')] bg-repeat bg-center;
        @apply font-cabin text-sm;
    }

    header {
        .show-2-first-only > * {
            @apply hidden;
        }
        .show-2-first-only > :nth-child(-n+2) {
            @apply list-item;
        }
    
        .show-2-last-only > * {
            @apply hidden;
        }
        .show-2-last-only > :nth-last-child(-n+2) {
            @apply list-item;
        }
    }

    .title-1 {
        @apply text-4xl font-baroneys text-beige-clair;
        @apply md:text-5xl;
    }

    .title-2 {
        @apply text-4xl font-baroneys text-marron relative;
        @apply md:text-6xl;
        &::after {
            @apply absolute -bottom-4 left-1/2 -translate-x-1/2 content-[''] h-[9px] w-[150px] bg-contain bg-[url('./assets/img/title-deco.svg')] bg-no-repeat bg-center;
        }
        &.blanc {
            @apply text-blanc;
            &::after {
                @apply bg-[url('./assets/img/title-deco-blanc.svg')];
            }
        }
    }

    .title-3 {
        @apply text-4xl font-baroneys text-marron;
    }

    .btn-primary {
        @apply flex bg-rouge text-blanc font-bold rounded-sm w-fit px-12 py-2;
    }
}