@layer components {
    .container {
        @apply mx-auto px-4;
        @apply md:!max-w-[750px] md:px-0;
        @apply lg:!max-w-[970px];
        @apply xl:!max-w-[1200px];
    }

    header {
        @apply lg:bg-[url('./assets/img/footer-bg.png')] bg-repeat bg-center shadow-md;
        @apply before:absolute before:-top-2 before:left-0 before:w-full before:h-[25px] before:bg-cover before:bg-[url('./assets/img/bandeau.svg')] before:bg-repeat-x before:bg-center before:z-4;
        .container {
            @apply relative lg:mb-5;
            .contact {
                @apply absolute -top-14 lg:-top-8 right-2 lg:-right-6 z-3 cursor-pointer transition-all duration-200 ease-in-out;
                @apply before:absolute before:bottom-12 before:left-1/2 before:-translate-x-1/2 before:w-[27px] before:h-[20px] before:bg-contain lg:before:bg-[url('./assets/img/contact.svg')] before:bg-[url('./assets/img/burger.svg')] before:bg-no-repeat before:bg-center before:pointer-events-none;
                &:hover {
                    @apply -top-10 lg:-top-4 transition-all duration-200 ease-in-out;
                }
            }
            .wrapper {
                @apply hidden;
                @apply relative lg:flex justify-between items-start w-full pt-6 pb-4 z-2;
                .menu-nav {
                    @apply flex items-center justify-evenly flex-1 my-auto;
                    li {
                        @apply relative list-none w-[110px] text-center mx-6;
                        a {
                            @apply no-underline text-beige-clair text-[16px] leading-1;
                        }
                        &:hover {
                            @apply after:content-[''] after:absolute after:top-1/2 after:-right-6 after:-translate-y-1/2 after:h-[17px] after:w-[15px] after:bg-contain after:bg-[url('./assets/img/hover-header.svg')] after:bg-no-repeat after:bg-center;
                            @apply before:content-[''] before:absolute before:top-1/2 before:-left-6 before:-translate-y-1/2 before:h-[17px] before:w-[15px] before:bg-contain before:bg-[url('./assets/img/hover-header.svg')] before:bg-no-repeat before:bg-center before:rotate-180;
                            a {
                                @apply font-bold;
                            }
                        }
                    }
                }
                .logo-container {
                    @apply flex justify-center w-fit mb-[-50px] mt-[10px] mx-16;
                }
            }
        }
        .rounded-header {
            @apply hidden lg:block;
            @apply bg-[url('./assets/img/footer-bg.png')] bg-repeat bg-center shadow-md;
            @apply absolute top-0 left-1/2 translate-x-[-50%] h-[calc(100%+70px)] w-[350px] z-1 rounded-b-full;
        }
    }

    /* Footer */
    footer {
        @apply bg-[url('./assets/img/footer-bg.png')] bg-repeat bg-center;
        @apply py-12;
        .wrapper {
            @apply flex flex-col justify-between items-center gap-10;
            @apply md:flex-row md:gap-0;
            .menu-container {
                @apply flex flex-col gap-10;
                @apply md:flex-row md:gap-15;
                .footer-title {
                    @apply text-beige-clair text-4xl font-cabin mb-4;
                }
                .footer-link {
                    @apply flex flex-col gap-2;
                    > * {
                        @apply text-beige-clair list-none no-underline;
                    }
                }
            }
            .socials-container {
                @apply flex flex-col gap-10;
            }
        }
    }

    /* Date Card */
    .date-card {
        @apply bg-blanc p-2 min-h-[470px] max-w-[500px] mx-auto flex flex-col shadow-md;
        @apply max-md:odd:-rotate-1 max-md:even:rotate-2;
        @apply md:p-4;
        &:nth-child(4n) {
            @apply md:-rotate-1;
        }
        &:nth-child(4n+1) {
            @apply md:-rotate-1;
        }
        &:nth-child(4n+2) {
            @apply md:rotate-2;
        }
        &:nth-child(4n+3) {
            @apply md:rotate-2;
        }
        img {
            @apply w-full h-[175px] object-cover mb-6;
            @apply md:h-[235px];
        }
        .title-3 {
            @apply border-b-2 border-marron;
        }
        .date {
            @apply font-kulium text-marron text-xl my-2;
        }
        .description {
            @apply leading-[2.25];
        }
    }

    /* Homepage */
    .homepage {
        .hero {
            @apply max-h-[640px] flex justify-center overflow-hidden;
            img {
                @apply w-auto h-full;
            }
        }
        .hero-content {
            @apply bg-[url('./assets/img/hero-bg.png')] bg-repeat bg-center;
            @apply py-8;
            .title-1 {
                @apply text-center mb-6;
            }
            .description {
                @apply text-center text-blanc mx-auto leading-[2.25];
                @apply md:max-w-[60%];
            }
        }
        .video {
            @apply py-8;
            .wrapper {
                @apply flex flex-col gap-12;
                .video-wrapper {
                    @apply bg-blanc aspect-[16/9] w-full shadow-md;
                    iframe {
                        @apply w-full h-full p-2;
                        @apply md:p-4;
                    }
                }
            }
        }
        .dates {
            @apply pt-8 pb-16;
            .wrapper {
                @apply flex flex-col gap-12;
                .dates-container {
                    @apply grid grid-cols-1 gap-y-12;
                    @apply md:grid-cols-2 md:gap-x-8;
                }
            }
        }
    }
}