@layer components {
    .container {
        @apply mx-auto px-4;
        @apply md:!max-w-[750px] md:px-0;
        @apply lg:!max-w-[970px];
        @apply xl:!max-w-[1200px];
    }

    /* Header */
    header {
        @apply relative shadow-md;
        @apply lg:bg-[url('./assets/img/footer-bg.png')] lg:bg-repeat lg:bg-center;
        .contact-container {
            @apply absolute h-[20px] w-full transition-all duration-300 ease-in-out z-10;
            @apply md:h-[25px];
            &.active {
                @apply fixed h-[calc(100vh-120px)] transition-all duration-300 ease-in-out;
                .bandeau {
                    .form-wrapper {
                        @apply h-full;
                        @apply max-lg:hidden;
                        &.mobile {
                            @apply flex h-fit;
                            @apply md:w-1/2;
                        }
                    }
                    .mobile-menu {
                        @apply h-full px-6 py-6;
                        @apply lg:hidden;
                    }
                }
            }
            .bandeau {
                @apply absolute -top-2 left-0 w-full h-full bg-cover bg-[url('./assets/img/bandeau.png')] bg-repeat-x bg-bottom z-12;
                .form-wrapper {
                    @apply h-0 overflow-hidden transition-all duration-300 ease-in-out flex flex-col justify-center gap-4;
                    @apply lg:max-w-[580px] lg:mx-auto;
                    h2 {
                        @apply max-lg:hidden;
                    }
                    input, textarea {
                        @apply w-full bg-blanc px-4 py-2 rounded-sm;
                    }
                    textarea {
                        @apply h-[150px] resize-none;
                    }
                }
                .mobile-menu {
                    @apply h-0 overflow-hidden transition-all duration-300 ease-in-out;
                    @apply flex flex-col gap-12;
                    .logo-container {
                        @apply mx-auto;
                    }
                    .container-mobile {
                        @apply flex gap-12 flex-col h-fit overflow-y-auto;
                        @apply md:flex-row md:justify-center;
                        .menu-nav{
                            @apply flex flex-col gap-4;
                            li {
                                @apply list-none;
                                a {
                                    @apply no-underline text-beige-clair text-[16px] leading-1;
                                }
                            }
                        }
                    }
                }
            }
            .contact {
                @apply absolute -bottom-24 right-2 z-11 cursor-pointer transition-all duration-200 ease-in-out;
                @apply lg:-bottom-26 xl:right-6;
                @apply before:absolute before:bottom-12 before:left-1/2 before:-translate-x-1/2 before:w-[27px] before:h-[20px] before:bg-contain lg:before:bg-[url('./assets/img/contact.svg')] before:bg-[url('./assets/img/burger.svg')] before:bg-no-repeat before:bg-center before:pointer-events-none;
                &:hover {
                    @apply -bottom-24 transition-all duration-200 ease-in-out;
                    @apply lg:-bottom-30;
                }
            }
        }
        .container {
            @apply relative z-8;
            @apply lg:mb-5;
            .wrapper {
                @apply hidden;
                @apply relative lg:flex justify-between items-start w-full pt-6 pb-4 z-2;
                .menu-nav {
                    @apply flex items-center justify-evenly flex-1 my-auto;
                    li {
                        @apply relative list-none w-[110px] text-center mx-6;
                        a {
                            @apply no-underline text-beige-clair text-[16px] leading-1;
                        }
                        &:hover {
                            @apply after:content-[''] after:absolute after:top-1/2 after:-right-6 after:-translate-y-1/2 after:h-[17px] after:w-[15px] after:bg-contain after:bg-[url('./assets/img/hover-header.svg')] after:bg-no-repeat after:bg-center;
                            @apply before:content-[''] before:absolute before:top-1/2 before:-left-6 before:-translate-y-1/2 before:h-[17px] before:w-[15px] before:bg-contain before:bg-[url('./assets/img/hover-header.svg')] before:bg-no-repeat before:bg-center before:rotate-180;
                            a {
                                @apply font-bold;
                            }
                        }
                    }
                }
                .logo-container {
                    @apply flex justify-center w-fit mb-[-50px] mt-[10px] mx-16;
                }
            }
        }
        .rounded-header {
            @apply hidden lg:block;
            @apply bg-[url('./assets/img/footer-bg.png')] bg-repeat bg-center shadow-md;
            @apply absolute top-0 left-1/2 translate-x-[-50%] h-[calc(100%+70px)] w-[350px] z-1 rounded-b-full;
        }
    }

    /* Footer */
    footer {
        @apply bg-[url('./assets/img/footer-bg.png')] bg-repeat bg-center;
        @apply py-12;
        .wrapper {
            @apply flex flex-col justify-between items-center gap-10;
            @apply md:flex-row md:gap-0;
            .menu-container {
                @apply flex flex-col gap-10;
                @apply md:flex-row md:gap-15;
                .footer-title {
                    @apply text-beige-clair text-4xl font-cabin mb-4;
                }
                .footer-link {
                    @apply flex flex-col gap-2;
                    > * {
                        @apply text-beige-clair list-none no-underline;
                    }
                }
            }
            .socials-container {
                @apply flex flex-col gap-10;
            }
        }
    }

    /* Date Card */
    .date-card {
        @apply bg-blanc p-2 min-h-[470px] max-w-[500px] mx-auto flex flex-col shadow-md;
        @apply max-md:odd:-rotate-1 max-md:even:rotate-2;
        @apply md:p-4;
        &:nth-child(4n) {
            @apply md:-rotate-1;
        }
        &:nth-child(4n+1) {
            @apply md:-rotate-1;
        }
        &:nth-child(4n+2) {
            @apply md:rotate-2;
        }
        &:nth-child(4n+3) {
            @apply md:rotate-2;
        }
        img {
            @apply w-full h-[175px] object-cover mb-6;
            @apply md:h-[235px];
        }
        .title-3 {
            @apply border-b-2 border-marron;
        }
        .date {
            @apply font-kulium text-marron text-xl my-2;
        }
        .description {
            @apply leading-[2.25];
        }
    }

    /* Homepage */
    .homepage {
        .hero {
            @apply max-h-[640px] flex justify-center overflow-hidden;
            img {
                @apply w-auto h-full;
            }
        }
        .hero-content {
            @apply bg-[url('./assets/img/hero-bg.png')] bg-repeat bg-center;
            @apply py-8;
            .title-1 {
                @apply text-center mb-6;
            }
            .description {
                @apply text-center text-blanc mx-auto leading-[2.25];
                @apply md:max-w-[60%];
            }
        }
        .video {
            @apply py-8;
            .wrapper {
                @apply flex flex-col gap-12;
                .video-wrapper {
                    @apply bg-blanc aspect-[16/9] w-full shadow-md;
                    iframe {
                        @apply w-full h-full p-2;
                        @apply md:p-4;
                    }
                }
            }
        }
        .dates {
            @apply pt-8 pb-16;
            .wrapper {
                @apply flex flex-col gap-12;
                .dates-container {
                    @apply grid grid-cols-1 gap-y-12;
                    @apply md:grid-cols-2 md:gap-x-8;
                }
            }
        }
    }

    .gallery-page {
        .container {
            @apply py-12;
            @apply lg:py-24;
            .title-2 {
                @apply text-center;
            }
            .custom-gallery {
                @apply columns-1 gap-5 mt-18;
                @apply md:columns-2 mt-14;
                img {
                    @apply w-full mb-5 break-inside-avoid shadow-md p-3 bg-white;
                }
            }
        }
    }

    .marmiton-page {
        .container {
            @apply py-12;
            @apply lg:py-24;
            .title-2 {
                @apply text-center;
            }
            .banner {
                @apply w-full shadow-md p-3 bg-white mt-12 mb-18;
            }
            .wrapper {
                @apply flex flex-col gap-12;
                .marmiton-card {
                    @apply flex justify-between items-center gap-8 even:flex-row-reverse;
                    .image-container {
                        @apply max-w-[600px] w-full;
                        img {
                            @apply w-full object-contain;
                        }
                    }
                    .marmiton-info {
                        @apply flex flex-col flex-1;
                        .marmiton-bio {
                            @apply leading-[2.25] tracking-wider mt-4;
                        }
                    }
                    &:nth-child(even) {
                        .marmiton-info {
                            @apply text-right;
                        }
                    }
                }
            }
        }
    }
}